<body>
 <h1>メニュー</h1>
  <p>・受信メール</p>
  <p>・メール送信</p>
  <p>・送信済みメール</p>
  <p>・<%= link_to"自動返信登録", "http://localhost:3000/autoReply" %></p>
  <p>・<%= link_to"自動返信リスト", "http://localhost:3000/list" %></p>
</body>